h1 {
    font-family:"Microsoft YaHei","Consolas";
}
h2 {
    font-family:"Microsoft YaHei","Consolas";
}
h3 {
    font-family:"Microsoft YaHei","Consolas";
}
h4 {
    font-family:"Microsoft YaHei","Consolas";
}
h5 {
    font-family:"Microsoft YaHei","Consolas";
}
h6 {
    font-family:"Microsoft YaHei","Consolas";
}
p {
    font-family:"Microsoft YaHei","Consolas";
}
a {
    font-family:"Microsoft YaHei","Consolas";
}
div {
    text-align：center;
}
