h1 {
    font-family:"Consolas","Microsoft YaHei";
    text-align：center;
}
h2 {
    font-family:"Consolas","Microsoft YaHei";
    text-align：center;
}
h3 {
    font-family:"Consolas","Microsoft YaHei";
    text-align：center;
}
h4 {
    font-family:"Consolas","Microsoft YaHei";
    text-align：center;
}
h5 {
    font-family:"Consolas","Microsoft YaHei";
    text-align：center;
}
h6 {
    font-family:"Consolas","Microsoft YaHei";
    text-align：center;
}
p {
    font-family:"Consolas","Microsoft YaHei";
    text-align：center;
}
